<div class="container-fluid">
	<div class="row">
		<div class="page-header">
			<h1>Cuentas</h1>
			<div class="pull-right btn-container">
					<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
					<button class="btn btn-default" ng-click="goBack()">
						<i class="fa fa-arrow-left"></i>
						Regresar
					</button>
					<button class="btn btn-primary" type="submit" form="accountForm">
						<i class="fa fa-save"></i>
						Guardar
					</button>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="panel panel-default">
			<div class="panel panel-heading">
				Informaci&oacute;n de la cuenta
			</div>	
			<div class="panel panel-body">
				<form class="form-horizontal" role="form" name="accountForm" id="accountForm" ng-submit="saveAccount(accountForm)" novalidate>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="accountType">Tipo de Cuenta:</label>
						<div ng-class="{'has-error': accountForm.accountType.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<select class="form-control" name="accountType" id="accountType" ng-model="account.accountType" ng-options="i.description for i in accountTypes track by i._id"required>
								</select>
								<p ng-show="accountForm.accountType.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="accountNumber">N&uacute;mero de Cuenta:</label>
						<div ng-class="{'has-error': accountForm.accountNumber.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<input type="number" class="form-control" name="accountNumber" id="accountNumber" ng-model="account.accountNumber" required>
								<p ng-show="accountForm.accountNumber.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="name">Nombre de la Cuenta:</label>
						<div ng-class="{'has-error': accountForm.name.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<input type="text" class="form-control" name="name" id="name" ng-model="account.name" required>
								<p ng-show="accountForm.name.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-xs-3 control-label" for="superAccount">Cuenta Padre:</label>
						<div ng-class="{'has-error': accountForm.superAccount.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<select class="form-control" name="superAccount" id="superAccount" ng-model="account.superAccount" ng-options="i.name for i in superAccounts track by i._id">
								</select>
								<p ng-show="accountForm.superAccount.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>	
					<div class="form-group">
						<label class="col-xs-3 control-label" for="currency">Moneda:</label>
						<div ng-class="{'has-error': accountForm.currency.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<select class="form-control" name="currency" id="currency" ng-model="account.currency" ng-options="i.name for i in currencies track by i._id" required>
								</select>
								<p ng-show="accountForm.currency.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>
					<!-- En caso de que se escoja tipo Banco -->
					<div class="form-group">
						<label class="col-xs-3 control-label" for="bankAssociated">Banco:</label>
						<div ng-class="{'has-error': accountForm.bankAssociated.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<select class="form-control" name="bankAssociated" id="bankAssociated" ng-model="account.bankAssociated" ng-options="i.name for i in banks track by i._id" >
								</select>
								<p ng-show="accountForm.bankAssociated.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-xs-3 control-label" for="bankAccountNumber">N&uacute;mero de Cuenta en el Banco:</label>
						<div ng-class="{'has-error': accountForm.bankAccountNumber.$invalid && accountForm.$submitted}">
							<div class="col-xs-3">
								<input type="number" class="form-control" name="bankAccountNumber" id="bankAccountNumber" ng-model="account.bankAccountNumber" >
								<p ng-show="accountForm.bankAccountNumber.$invalid && accountForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
					</div>	
				</form>
			</div>	
		</div>		
	</div>
</div>