<div class="container-fluid">
	<div class="row">
		<div class="page-header">
			<h1>Facturaci&oacute;n de Clientes</h1>
			<div class="pull-right btn-container">
					<toaster-container toaster-options="{'time-out': 2000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
					<button class="btn btn-default" ng-click="goBack()">
						<i class="fa fa-arrow-left"></i>
						Regresar
					</button>
					<button class="btn btn-primary" type="submit" form="invoiceForm">
						<i class="fa fa-save"></i>
						Guardar
					</button>
			</div>
		</div>
	</div>
	
	<div class="row">
		<form class="form-horizontal" role="form" name="invoiceForm" id="invoiceForm" ng-submit="saveInvoice(invoiceForm)" novalidate>
			<fieldset>
				<div class="col-lg-12">
					<div class="col-lg-4">
						<div class="from-group">
							<label>Cliente:</label>
							<div ng-class="{'has-error': invoiceForm.client.$invalid && invoiceForm.$submitted}">
								<select class="form-control" name="client" id="client" ng-model="invoice.entity" ng-options="i.fullName for i in clients | fullname: clients" >
								</select>
								<p ng-show="invoiceForm.vendor.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
						<br />
						<div>
							<div class="well">
								<p><b>{{invoice.entity | fullname}}</b></p>
								<p><i class="fa fa-user"> {{invoice.entity.documentNumber}}</i></p>
								<p><i class="fa fa-phone"> {{invoice.entity.phone}} </i></p>
								<p><i class="fa fa-home"> {{invoice.entity.address | fulladdress}} </i></p>
							</div>
						</div>
					</div>
					<!--Little Force-->
					<div class="col-lg-4">
					</div>
					<!--End of Little Force ;) -->
					<div class="col-lg-4">
						<div class="from-group" ng-hide="true">
							<label>N&uacute;mero de Factura:</label>
							<span class="badge">00000001</span>
						</div>
						<div class="from-group" ng-hide="true">
							<label>NCF:</label>
							<span class="badge">A9832098504598340</span>
						</div>
						<div class="from-group">
							<label>Cuenta:</label>
							<div ng-class="{'has-error': invoiceForm.account.$invalid && invoiceForm.$submitted}">
								<select class="form-control" name="account" id="account" ng-model="invoice.account" ng-options="i.name for i in accounts track by i._id" required>
								</select>
								<p ng-show="invoiceForm.account.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
						<div class="from-group">
							<label>Fecha de Emisi&oacute;n:</label>
							<div ng-class="{'has-error': invoiceForm.entryDate.$invalid && invoiceForm.$submitted}">
								<input type="date" class="form-control" name="entryDate" id="entryDate" ng-model="invoice.entryDate" required>
								<p ng-show="invoiceForm.entryDate.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
						<div class="from-group">
							<label>Fecha de Vencimiento:</label>
							<div ng-class="{'has-error': invoiceForm.dueDate.$invalid && invoiceForm.$submitted}">
								<input type="date" class="form-control" name="dueDate" id="dueDate" ng-model="invoice.dueDate" required>
								<p ng-show="invoiceForm.dueDate.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>
						</div>
						<div class="from-group">
							<label>Forma de Pago:</label>
							<div ng-class="{'has-error': invoiceForm.paymentMethod.$invalid && invoiceForm.$submitted}">
								<select class="form-control" name="paymentMethod" id="paymentMethod" ng-model="invoice.paymentMethod" ng-options="i.description for i in paymentMethods track by i._id" required>
								</select>	
								<p ng-show="invoiceForm.paymentMethods.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>					
						</div>
						<div class="from-group">
							<label>Condici&oacute;n:</label>
							<div ng-class="{'has-error': invoiceForm.condition.$invalid && invoiceForm.$submitted}">
								<select class="form-control" name="condition" id="condition" ng-model="invoice.condition" ng-options="i.description for i in conditions track by i._id" required>
								</select>	
								<p ng-show="invoiceForm.condition.$invalid && invoiceForm.$submitted" class="help-block">Este campo es requerido.</p>
							</div>					
						</div>										
					</div>
				</div>
			</fieldset>
		</div>
		<br>
		<div class="row">
			<div class="table-responsive">
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th class="col-xs-1">Acciones</th>
							<th class="col-xs-2">Item</th>
							<th class="col-xs-2">Precio</th>
							<th class="col-xs-2">Impuestos</th>
							<th class="col-xs-2">Total</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="d in invoice.detail" ng-mouseover="hovering=true" ng-mouseleave="hovering=false">
							<td>
								<button class="btn btn-danger" uib-tooltip="Eliminar Fila" ng-click="removeRow($index)" ng-show="hovering">
									<i class="fa fa-times"></i>
								</button>
								<button class="btn btn-success" uib-tooltip="Aplicar Impuesto" ng-click="d.taxEnable = !d.taxEnable; setTax(d.taxEnable, $index)" ng-disabled="!d.item" ng-show="hovering">
									<i class="fa fa-percent"></i>
								</button>
							</td>
							<td><select class="document-inputs" ng-model="d.item" ng-options="item.name for item in items"></select></td>
							<td><input class="document-inputs" type="number" ng-model="d.item.price"></td>
							<td>{{d.taxAmount | currency}}</td>
							<td>{{d.amount = d.taxAmount + d.item.price | currency}}</td>
						</tr>
						<!--Esta parte hay que profundizarla mas adelante-->
						<tr>
							<td colspan="3" class="borderless"></td>
							<td style="background-color: gainsboro;">Total Impuesto: $0.00</td>
							<td style="background-color: gainsboro;">Total: {{invoice.amount | currency}}</td>
						</tr>
					</tbody>
				</table>
				<button class="btn btn-default" ng-click="addRow()">
					<i class="fa fa-plus"> Agregar Fila</i>
				</button>
			</div>
		</div>
	</form>
</div>