<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Estado de Cuenta Clientes</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-4">
			<div class="form-group">
				<label class="control-label">Cliente:</label>
				<select class="form-control" name="client" id="client" ng-model="client">
					<option>Aqui estara el listado de clientes</option>
				</select>
			</div>
		</div>
		<div class="form-group">
				<label class="col-xs-2 control-label">B&uacute;squeda:</label>
				<div class="col-lg-8">
					<input type="text" class="form-control" name="search" id="search" ng-model="search">
				</div>				
		</div>
		<div class="col-lg-10">
			<div class="form-group">
				<label class="col-xs-4 control-label">Fecha de Inicio/Fecha de Fin:</label>
				<div class="col-xs-2">
					<input type="date" class="form-control" name="startDate" id="startDate" ng-model="shipment.startDate" required>
				</div>
				<div class="col-xs-2">
					<input type="date" class="form-control" name="endDate" id="endDate" ng-model="shipment.endDate" required>
				</div>
			</div>
		</div>
		<div class="col-lg-12">
			<div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
                            <tr>
                                <th>Factura</th>
                                <th>Monto</th>
                                <th>Balance</th>
                                <th>Fecha Emisi&oacute;n</th>
                                <th>Fecha Vencimiento</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>56968</td>
                                <td>$USD 580.00</td>
                                <td>$USD 0.00</td>
                                <td>05/12/2015</td>
                                <td>18/12/2015</td>
                            </tr>
                            <tr>
                                <td>58965</td>
                                <td>$USD 1000.50</td>
                                <td>$USD 0.00</td>
                                <td>01/01/2016</td>
                                <td>02/01/2016</td>
                            </tr>
                            <tr class="danger">
                                <td>59829</td>
                                <td>$USD 855.00</td>
                                <td>$USD 855.00</td>
                                <td>01/02/2016</td>
                                <td>15/02/2016</td>
                            </tr>
                        </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>