<div class="row">
	<div class="page-header">
		<!-- This is going to be the title of the view. -->
		<h1>{{title}}</h1>
		<div class="pull-right btn-container">
			<toaster-container toaster-options="{'time-out': 5000, 'close-button':true, 'animation-class': 'toast-top-center'}"></toaster-container>
			<button class="btn btn-default" ng-click="goBack()">
				<i class="fa fa-arrow-left"></i>
				Regresar
			</button>
			<button class="btn btn-primary" ng-click="createNew()">
				<i class="fa fa-plus"></i>
				Crear Nuevo
			</button>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<label class="control-label">B&uacute;squeda:</label>
			<input type="text" class="form-control" name="search" id="search" ng-model="search">
		</div>
		<div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
            <tr>
              <th ng-repeat="h in headers">{{h}}</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="c in content" ng-mouseover="editable=true" ng-mouseleave="editable=false">
              <td ng-repeat="f in fields">{{c[f]}}</td>
              <td>
              	<button class="btn btn-default" ng-if="editable" ng-click="editContent(c)"><i class="fa fa-pencil"></i></button>
              </td>
            </tr>
          </tbody>
				</table>
				<div style="text-align: center;">
					<div class="btn-group">
						<button type="button" class="btn btn-default disabled" ng-class="prevPageDisabled()" ng-click="prevPage()"><i class="fa fa-angle-double-left"></i>
						</button>
						<button type="button" class="btn btn-default ng-binding" disabled="">{{currentPage}}/{{totalPages}}</button>
						<button type="button" class="btn btn-default" ng-class="nextPageDisabled()" ng-click="nextPage()"><i class="fa fa-angle-double-right"></i>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>