<form class="form-horizontal" role="form" name="entityForm" id="entityForm" ng-submit="saveEntity(entityForm)" novalidate>
	<fieldset ng-disabled="saved">
		<div class="form-group" ng-if="type != 'Agente' && type != 'Empleado'">
			<label class="col-xs-2 control-label">Tipo de {{type}}:</label>
			<div class="col-xs-4">
				<select class="form-control" name="type" ng-model="entity.type" ng-options="t for t in entityTypes" required>
				</select>
			</div>
		</div>
		<hr ng-if="type != 'Agente' && type != 'Empleado'">
		<div class="form-group" ng-if="entity.type == 'Empresa'">
			<label class="col-xs-2 control-label">Nombre:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.companyName.$invalid && entityForm.$submitted}">
				<input type="text" class="form-control" name="companyName" id="companyName" ng-model="entity.companyName" placeholder="Ingrese el nombre de la empresa"
				required>
				<p ng-show="entityForm.companyName.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Persona'">
			<label class="col-xs-2 control-label">Nombre:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.firstName.$invalid && entityForm.$submitted}">
				<input type="text" class="form-control" name="firstName" id="firstName" ng-model="entity.firstName" placeholder="Ingrese el nombre"
				required>
				<p ng-show="entityForm.firstName.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Persona'">
			<label class="col-xs-2 control-label">Apellido:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.lastName.$invalid && entityForm.$submitted}">
				<input type="text" class="form-control" name="lastName" id="lastName" ng-model="entity.lastName" placeholder="Ingrese el apellido"
				required>
				<p ng-show="entityForm.lastName.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Persona'">
			<label class="col-xs-2 control-label">Fecha de Nacimiento:</label>
			<div class="col-xs-2" ng-class="{'has-error': entityForm.birthDate.$invalid && entityForm.$submitted}">
				<input type="date" class="form-control" name="birthDate" id="birthDate" ng-model="entity.birthDate" required>
				<p ng-show="entityForm.birthDate.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<hr>
		<div class="form-group" ng-if="entity.type == 'Persona'">
			<label class="col-xs-2 control-label">Tipo de Documento:</label>
			<div class="col-xs-4">
				<select class="form-control" name="documentType" ng-model="entity.documentType" ng-options="dt for dt in documentTypes" required></select>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Persona'">
			<label class="col-xs-2 control-label">Documento de Identidad:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.documentNumber.$invalid && entityForm.$submitted}">
				<input type="text" ng-if="entity.documentType === documentTypes[0]" cedula class="form-control" name="documentNumber" id="documentNumber" ng-model="entity.documentNumber" ui-mask="999-9999999-9" required>
				<input type="text" ng-if="entity.documentType === documentTypes[1]" class="form-control" name="documentNumber" id="documentNumber" maxlength="9" ng-model="entity.documentNumber" required>
				<p ng-show="entityForm.documentNumber.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Empresa'">
			<label class="col-xs-2 control-label">No. RNC:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.rnc.$invalid && entityForm.$submitted}">
				<input type="text" class="form-control" name="rnc" id="rnc" ng-model="entity.rnc" maxlength="9" required>
				<p ng-show="entityForm.rnc.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<hr>
		<div class="form-group" ng-if="entity.type == 'Empresa'">
			<label class="col-xs-2 control-label">Contacto:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.contact.$invalid && entityForm.$submitted}">
				<input type="text" class="form-control" name="contact" id="contact" ng-model="entity.contact" required>
				<p ng-show="entityForm.contact.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group" ng-if="entity.type == 'Empresa'">
			<label class="col-xs-2 control-label">Tel&eacute;fono de Contacto:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.contactPhone.$invalid && entityForm.$submitted}">
				<input type="tel" class="form-control" name="contactPhone" id="contactPhone" ng-model="entity.contactPhone" ui-mask="(999) 999-9999" required>
				<p ng-show="entityForm.contactPhone.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<hr ng-if="entity.type == 'Empresa'">
		<div class="form-group">
			<label class="col-xs-2 control-label">Pa&iacute;s:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.country.$invalid && entityForm.$submitted}">
				<select class="form-control" name="country" ng-model="entity.address.country" ng-options="c.name.common for c in countries track by c._id" required></select>
				<p ng-show="entityForm.country.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Provincia:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.province.$invalid && entityForm.$submitted}">
				<select class="form-control" name="province" ng-model="entity.address.province" ng-options="p.nombre for p in provincias track by p._id" required></select>
				<p ng-show="entityForm.province.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Sector:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.sector.$invalid && entityForm.$submitted}">
				<select class="form-control" name="sector" ng-model="entity.address.sector" ng-options="s.nombre for s in sectores track by s._id" required></select>
				<p ng-show="entityForm.sector.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Direcci&oacute;n:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.address.$invalid && entityForm.$submitted}">
				<textarea class="form-control" name="address" ng-model="entity.address.description" required></textarea>
				<p ng-show="entityForm.address.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Tel&eacute;fono:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.phone.$invalid && entityForm.$submitted}">
				<input type="tel" class="form-control" name="phone" id="phone" ng-model="entity.phone" ui-mask="(999) 999-9999" required>
				<p ng-show="entityForm.phone.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-xs-2 control-label">Correo Electr&oacute;nico:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.email.$invalid && entityForm.$submitted}">
				<input type="email" class="form-control" name="email" id="email" ng-model="entity.email" required>
				<p ng-show="entityForm.email.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
			</div>
		</div>
		<hr>
		<!-- En caso de que sea cliente o proveedor -->
		<div class="form-group" ng-if="type != 'Agente' && type != 'Empleado'">
			<label class="col-xs-2 control-label">Moneda:</label>
			<div class="col-xs-4" ng-class="{'has-error': entityForm.currency.$invalid && entityForm.$submitted}">
				<select class="form-control" name="currency" ng-model="entity.currency" ng-options="c.cc for c in currencies track by c._id">
				<p ng-show="entityForm.currency.$invalid && entityForm.$submitted" class="help-block">Este campo es requerido.</p>
				</select>
			</div>
		</div>
		<div class="form-group" ng-if="type != 'Agente' && type != 'Empleado'">
			<label class="col-xs-2 control-label">M&eacute;todo de Pago:</label>
			<div class="col-xs-4">
				<select class="form-control" name="paymentMethod" ng-model="entity.paymentMethod">
					<option>Cheque</option>
					<option>Efectivo</option>
					<option>Tarjeta de Cr&eacute;dito</option>
				</select>
			</div>
		</div>
		<!-- En caso de que sea un agente -->
		<div class="form-group" ng-if="type == 'Agente'">
			<label class="col-xs-2 control-label">Mercado en el que opera:</label>
			<div class="col-xs-4">
				<select class="form-control" name="market" ng-model="entity.market">
					<option>Am&eacute;rica del Norte</option>
					<option>Am&eacute;rica del Sur</option>
					<option>Am&eacute;rica Central</option>
					<option>El Caribe</option>
				</select>
			</div>
		</div>
	</fieldset>
</form>
